# Imports

In [6]:
import pandas as pd 
import numpy as np

In [8]:
valuation = pd.read_excel('Banco de Dados Avaliações.xlsb', engine='pyxlsb', header=4)
valuation = valuation.loc[:, ['Bairro','Município', 'Tipo']].dropna(axis = 0, how = 'all')
valuation.tail(5)

                Bairro  Município         Tipo
2422  Jardim Ermida II    Jundiaí          NaN
2423    Vila Guilherme  São Paulo          NaN
2424     \tÁgua Branca  São Paulo  Apartamento
2425  Santa Felicidade   Curitiba          NaN
2426  Jardim Aeroporto  São Paulo  Apartamento